include ../layouts/layoutBS
.container
    h2.mt-4  Add New Book
    form(action='/customer' method='post')
        .form-group
            label(for='name' id='name') Name
            input#title.form-control(type='text' name='name')
        .form-group
            label(for='email' id='email') Email
            input#author.form-control(type='text' name='email')
        button.btn.btn-secondary(type='submit') Submit


    //form(action='/product' method='post')
    //    input(type='text' name='title')
    //    button(type='submit') Add Product