include ../layouts/layoutBS
//
//h2 #{title}


.container
    h1.mt-4
    if items.length == 0
        h2.mt-4 Sorry no current products
    else
        table.table.table-striped.table-info.table-bordered.border-white
            thead
                tr
                    th.text-white(scope='col' style='background-color:dodgerblue') Item Name
                    th.text-white(scope='col' style='background-color:dodgerblue') Item Price
            tbody
                each i in items
                    tr
                        td= i.ItemName
                        if i.TotalSales != null
                            td= "$" + i.TotalSales
                        else
                            td 0.00
                        //td
                        //    form( method='get' action='editItem/' + i.ItemID )
                        //        button(type='submit' class='btn btn-primary') Edit
                        //td
                        //    form( method='get' action='deleteItem/' + i.ItemID )
                        //        button(type='submit' class='btn btn-primary') Delete
    form( method='get' action='/addItem')
        button(type='submit' class='btn btn-secondary') Insert New Item